asgiref==3.4.1
blinker==1.4
Brotli==1.0.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cli-helpers==2.2.1
click==8.0.3
colorama==0.4.4
configobj==5.0.6
cryptography==3.4.8
delegator.py==0.1.1
Flask==2.0.2
frida==15.1.17
frida-tools==10.5.4
h11==0.12.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
kaitaistruct==0.9
ldap3==2.9.1
litecli==1.7.0
MarkupSafe==2.0.1
mitmproxy==7.0.4
msgpack==1.0.3
objection==1.11.0
passlib==1.7.4
pexpect==4.8.0
prompt-toolkit==3.0.28
protobuf==3.18.1
psycopg2==2.9.3
ptyprocess==0.7.0
publicsuffix2==2.20191221
pyasn1==0.4.8
pycparser==2.21
Pygments==2.11.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
python-dotenv==0.19.2
requests==2.27.1
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
semver==2.13.0
six==1.16.0
sortedcontainers==2.4.0
sqlparse==0.4.2
tabulate==0.8.9
tornado==6.1
urllib3==1.26.9
urwid==2.1.2
wcwidth==0.2.5
Werkzeug==2.0.3
wsproto==1.0.0
zstandard==0.15.2
