argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.4.1
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
blinker==1.4
Brotli==1.0.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cli-helpers==2.2.1
click==8.0.3
colorama==0.4.4
configobj==5.0.6
cryptography==3.4.8
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
delegator.py==0.1.1
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
Flask==2.0.2
fonttools==4.32.0
frida==15.1.17
frida-tools==10.5.4
h11==0.12.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.3
ipykernel==6.13.0
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.2.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.2.1
jupyterlab-widgets==1.1.0
kaitaistruct==0.9
kiwisolver==1.4.2
ldap3==2.9.1
litecli==1.7.0
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
mitmproxy==7.0.4
msgpack==1.0.3
nbclient==0.5.13
nbconvert==6.5.0
nbformat==5.3.0
nest-asyncio==1.5.5
notebook==6.4.10
numpy==1.22.3
objection==1.11.0
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
passlib==1.7.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
prometheus-client==0.14.1
prompt-toolkit==3.0.28
protobuf==3.18.1
psutil==5.9.0
psycopg2==2.9.3
ptyprocess==0.7.0
publicsuffix2==2.20191221
pure-eval==0.2.2
pyasn1==0.4.8
pycparser==2.21
Pygments==2.11.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2022.1
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.0.1
requests==2.27.1
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
semver==2.13.0
Send2Trash==1.8.0
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.3.2
sqlparse==0.4.2
stack-data==0.2.0
tabulate==0.8.9
terminado==0.13.3
tinycss2==1.1.1
tornado==6.1
traitlets==5.1.1
UpSetPlot==0.6.0
urllib3==1.26.9
urwid==2.1.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.3
widgetsnbextension==3.6.0
wsproto==1.0.0
zstandard==0.15.2
